.about {
  position: relative;
  width: @mobile-width;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about__caption {
  .reset-indents();
  .base-text(36px, 36px);
  padding-top: 25px;
  font-weight: 400;
  color: @white;
  text-align: center;
  letter-spacing: -1px;
}

.about__slogan {
  .reset-indents();
  .base-text(14px, 14px);
  display: block;
  padding-top: 26px;
  font-weight: 400;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -0.3px;
}

.about__can {
  .reset-indents();
  width: 280px;
  height: 270px;
  margin-top: 30px;
  margin-left: 20px;
}

.about__button {
  .green-button();
  width: 280px;
  margin: 0 auto;
  letter-spacing: -0.5px;
}

@media (min-width: @tablet-width) {
  .about {
    width: 708px;
    margin-bottom: 527px;
    background-image: none;
  }

  .about__caption {
    .base-text(60px, 60px);
    width: 450px;
    margin-left: 85px;
    margin-top: 22px;
    color: @black;
    text-align: left;
    letter-spacing: -2px;
  }

  .about__slogan {
    .base-text(20px, 20px);
    margin-left: 87px;
    margin-top: 15px;
    color: @black;
    text-align: left;
    letter-spacing: -0.5px;
  }

  .about__can {
    position: absolute;
    top: 200px;
    left: 300px;
    z-index: 5;
  }

  .about__button {
    .base-text(20px, 20px);
    width: 245px;
    height: 38px;
    margin-left: 90px;
    margin-top: 47px;
    padding-top: 15px;
    letter-spacing: -0.7px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    width: 1220px;
    margin-bottom: 232px;
  }

  .about__caption {
    margin-left: 80px;
    margin-top: 77px;
  }

  .about__slogan {
    margin-left: 80px;
    margin-top: 15px;
  }

  .about__can {
    left: 600px;
  }

  .about__button {
    margin-left: 80px;
    margin-top: 52px;
    height: 36px;
  }
}
