.advantages {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.advantages__list {
  .reset-indents();
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
}

.advantages__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: @green;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &:nth-child(2) {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");
    }
  }

  &:nth-child(3) {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");
    }
  }

  &:last-child {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");
    }
  }
}

.advantages__caption {
  .reset-indents();
  .caption();
  letter-spacing: -1px;
}

.advantages__description {
  .reset-indents();
  .info-text();
  .base-text();
  padding-left: 80px;
  padding-bottom: 26px;
}

@media (min-width: @tablet-width) {
  .advantages {
    position: relative;
    width: 708px;
    min-height: 505px;

    &::after {
      content: "";
      position: absolute;
      bottom: 23px;
      left: -30px;
      width: 768px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 628px;
    margin-top: 40px;
    counter-reset: itemCounter;
  }

  .advantages__item {
    padding-top: 115px;
    padding-bottom: 75px;
    font-size: 280px;
    counter-increment: itemCounter;

    &::before {
      top: 2px;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(itemCounter);
      position: absolute;
      top: 95px;
      right: -5px;
      min-width: 134px;
      height: 281px;
      color: #e6e6e6;
      opacity: 0.4;
      z-index: 1;
    }
  }

  .advantages__caption {
    font-size: 60px;
    margin-top: 46px;
    letter-spacing: -1.8px;
  }

  .advantages__description {
    .base-text(16px, 24px);
    position: relative;
    width: 245px;
    min-height: 125px;
    padding: 0;
    z-index: 10;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1220px;
    min-height: 430px;

    &::after {
      display: none;
    }
  }

  .advantages__caption {
    margin-top: 43px;
  }

  .advantages__list {
    width: 1220px;
    margin-top: 42px;
  }

  .advantages__item {
    width: 245px;
    padding: 0;
    padding-top: 113px;
  }
}
