.categories {
  .reset-indents();
  width: 280px;
  margin: 0 auto;
}

.categories__list {
  .reset-indents();
  padding-top: 5px;
  list-style: none;
}

.categories__item {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  background: @bg-lightgray;
}

.categories__caption {
  .reset-indents();
  .base-text(24px, 37px);
  position: relative;
  padding-top: 8px;
  padding-left: 15px;
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: @green;
    border-radius: 50%;
  }
}

.categories__item:last-child .categories__caption {
  padding-left: 45px;
}

.categories__text {
  .reset-indents();
  .info-text();
  .base-text();
  position: relative;
  padding-top: 30px;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 240px;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.categories__link {
  .base-text(16px, 16px);
  display: block;
  padding-top: 42px;
  color: @black;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

@media (min-width: @tablet-width) {
  .categories {
    width: 708px;
  }

  .categories__list {
    padding: 0;
  }

  .categories__caption {
    position: relative;
    font-size: 36px;
    text-align: left;
    margin-top: 23px;
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: auto;
      right: 10px;
      width: 200px;
      height: 200px;
    }
  }

  .categories__item:last-child .categories__caption {
    padding-left: 0;
  }

  .categories__item {
    margin-bottom: 30px;
    padding: 52px;
  }

  .categories__text {
    width: 372px;
    padding-top: 28px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }
  }

  .categories__item:last-child .categories__text {
    width: 343px;
    padding-top: 26px;
  }

  .categories__link {
    .base-text(20px, 20px);
    margin-top: 13px;
    margin-bottom: 10px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: @desktop-width;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .categories__item {
    width: 470px;
    margin-top: 38px;
    padding: 50px;
    padding-bottom: 60px;
  }

  .categories__caption {
    text-align: center;
    margin-top: 25px;
    margin-left: 30px;

    &::before {
      content: "";
      position: absolute;
      top: -30px;
      left: -28px;
      width: 100px;
      height: 100px;
      background-color: @green;
      border-radius: 50%;
    }
  }

  .categories__item:last-child .categories__caption {
    margin-left: 73px;

    &::before {
      left: -70px;
    }
  }

  .categories__item:last-child .categories__text {
    .reset-indents();
    width: 465px;
    margin-top: 75px;
    margin-left: 2px;
  }

  .categories__text {
    width: 465px;
    margin-top: 46px;
    margin-left: 2px;
  }

  .categories__link {
    .reset-indents();
    margin-top: 32px;
  }
}
