.categories {
  .reset-indents();
}

.categories__list {
  .reset-indents();
  background: @bg-lightgray;
}

.categories__item {
  .base-text(24px, 37px);
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.categories__def {
  .info-text();
  .base-text();
  width: 235px;
}

.categories__link {
  .base-text(16px, 16px);
  color: @black;
  text-align: left;
}
