.categories {
  width: 320px;
  margin: 0 auto;
}

.categories__list {
  list-style: none;
}

.categories__item {
  margin-bottom: 20px;
  padding: 22px;
  background: @bg-lightgray;
}

.categories__caption {
  .base-text(24px, 37px);
  width: 235px;
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.categories__text {
  .info-text();
  .base-text();
  text-align: left;
}

.categories__link {
  .base-text(16px, 16px);
  color: @black;
  text-align: left;
}

@media (min-width: @tablet-width) {
  .categories {
    width: 708px;
  }

  .categories__item {
    padding: 52px;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    width: 1220px;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
    margin: 40px;
  }
}
