.compare-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 295px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.compare-list__item {
  .reset-indents();
  padding-top: 37px;
  padding-left: 5px;
}

@media (min-width: @tablet-width) {
  .compare-list {
    flex-direction: row;
    // min-height: 580px;
    background-color: @bg-lightgray;
    background-position: bottom center;
  }
}

@media (min-width: @desktop-width) {
  .compare-list {
    width: 610px;
    height: 250px;
    background-color: @white;
  }

  .compare-list__item {
    min-height: 10px;
    padding: 0;
  }

  .compare-list__image {
    display: none;
  }
}
