.contacts {
  .reset-indents();
  font-weight: 400;
}

.contacts__welcome {
  .font(16px, 20px);
  color: @black;
  text-transform: uppercase;
}

.contacts__address {
  .font-size(14px, 20px);
  font-family: "Arial", sans-serif;
  color: @text-darkgray;
}

.contacts__map {
  background-image: url("img/bg-map-mobile@1x.png");
}
