.extra {
  .reset-indents();
  width: @mobile-width;
}

.extra__caption {
  .base-text(24px, 24px);
  color: @black;
  font-weight: 400;
}

.extra__list {
  .reset-indents();
  list-style: none;
}

.extra__item {
  .reset-indents();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

.extra__name {
  .base-text(16px, 16px);
  color: #222222;
  font-weight: 400;
  text-transform: uppercase;
}

.extra__table {
  .info-text();
  .base-text(14px, 14px);
}

.extra__button {
  .green-button();
  width: 280px;
}

.extra__order-all {
  .base-text(16px, 20px);
  display: block;
  width: 280px;
  height: 289px;
  margin-top: auto;
  font-family: "Arial", sans-serif;
  color: @white;
  font-weight: 400;
  text-align: center;
  background-color: @green;
  background-image: url("img/gift-photo-mobile@1x.jpg");
}

@media (min-width: @tablet-width) {
  .extra {
    width: 708px;
  }

  .extra__item {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .extra__button {
    width: 634px;
  }

  .extra__order-all {
    width: 708px;
    margin-top: 70px;
  }
}

@media (min-width: @desktop-width) {
  .extra {
    width: 1220px;
  }

  .extra-wrapper {
    display: flex;
  }
}
