.main-nav {
  width: @mobile-width;
}

.main-nav__list {
  .reset-indents();
  min-height: 200px;
  margin: 0 auto;
  list-style: none;
}

.main-nav__item {
  .base-text(20px, 20px);
  padding: 25px;
  padding-left: 80px;
  color: @black;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__link {
  font-size: 20px;
  font-weight: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .main-nav__list {
    display: flex;
  }
}
