.page-header {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 265px;
  margin: 0 auto;
  padding: 0;
}

.page-header__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.page-header__logo {
  width: 271px;
  height: 65px;
  margin-top: 11px;
}

.page-header__toggle {
  display: none;
  height: 66px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 708px;
    height: 94px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }

  .page-header__nav {
    width: 475px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    height: 120px;
  }

  .page-header__wrapper {
    width: 1220px;
  }

  .page-header__nav {
    width: 830px;
  }
}
