.page-main {
  width: auto;
  padding: 0;
}

.page-main__form {
  .reset-indents();
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: auto;

    &--form {
      width: auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: auto;
  }
}
