.page-header {
  display: flex;
  flex-direction: column;
  width: @mobile-width;
  min-height: 66px;
  // height: 265px;
  margin: 0 auto;
  padding: 0;
  background-color: @white;
}

.page-header__wrapper {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;
}

.page-header__logo {
  width: 271px;
  height: 65px;
  margin-top: 5px;
  margin-left: 20px;
}

.page-header__logo-image {
  width: 192px;
  height: 65px;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 708px;
    height: 94px;
  }

  .page-header__logo {
    width: 173px;
    height: 58px;
  }

  .page-header__logo-image {
    display: block;
    width: 173px;
    height: 58px;
    margin-top: 23px;
  }

  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1220px;
    height: 120px;
  }

  .page-header__wrapper {
    width: 1220px;
  }

  .page-header__nav {
    width: 480px;
  }
}
