.page-main {
  margin: 0 auto;
  padding: 0;
}

.page-main__caption {
  .caption();
}

.page-main__description {
  .base-text();
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
}

.page-main__form {
  .reset-indents();
}

.page-main__attention {
  .info-text();
  .base-text(14px, 16px);
}
