.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  min-height: 236px;
  margin: 0 auto;
  padding: 30px 20px 20px 20px;
  background-color: @bg-lightgray;
}

.page-footer__logo {
  text-align: center;
}

.page-footer__social,
.page-footer__bottom {
  .reset-indents();
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    width: 100%;
  }
}
