.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: @mobile-width;
  height: 236px;
  margin: 0 auto;
  padding: 0;
  background-color: @bg-lightgray;
}

.page-footer__logo {
  padding-top: 20px;
  text-align: center;
}

.page-footer__social,
.page-footer__bottom {
  .reset-indents();
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.page-footer__social {
  width: 280px;
  min-height: 62px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    align-items: center;
    width: 708px;
    height: 150px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1220px;
  }
}
