.results {
  width: @mobile-width;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  background-color: @bg-lightgray;
}

.results__caption {
  .reset-indents();
  .caption();
  padding-left: 20px;
  padding-top: 17px;
}

.results__description {
  .reset-indents();
  .info-text();
  .base-text();
  width: 270px;
  margin-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 23px;
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
}

.results__stats,
.results__compare {
  .reset-indents();
  list-style: none;
}

.results__sum {
  .reset-indents();
  .base-text(14px, 20px);
  padding-left: 17px;
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .results {
    width: 708px;
  }

  .results__wrapper {
    flex-direction: row;
  }
}

@media (min-width: @desktop-width) {
  .results {
    width: 1220px;
  }

  .results__wrapper {
    flex-direction: column;
  }
}
