.results {
  width: @mobile-width;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  background-color: @bg-lightgray;
}

.results__caption {
  .reset-indents();
  .caption();
  padding-top: 17px;
}

.results__description {
  .reset-indents();
  .info-text();
  .base-text();
  width: auto;
  margin-bottom: 25px;
  // padding-left: 20px;
  padding-right: 10px;
  padding-top: 23px;
  color: @text-darkgray;
}

.results__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  margin: 0 auto;
}

.results__stats,
.results__compare {
  .reset-indents();
  list-style: none;
}

@media (min-width: @tablet-width) {
  .results {
    width: 768px;
    background-color: @white;
  }

  .results__wrapper {
    width: 708px;
  }

  .results__caption {
    font-size: 60px;
    padding: 0;
  }

  .results__description {
    .base-text(16px, 24px);
    width: 680px;
    margin-top: 63px;
    margin-bottom: 53px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .results {
    width: auto;
    margin-top: 0;
    padding-bottom: 67px;
    background-image: linear-gradient(to bottom, @white 24%, @bg-lightgray 24%);
  }

  .results__container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 1220px;
    margin: 0 auto;
  }

  .results__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    margin: 0;
  }

  .results__caption {
    width: 410px;
    margin-top: 12px;
    margin-bottom: 147px;
    padding: 0;
  }

  .results__description {
    position: relative;
    width: 435px;
    margin: 0;
    margin-bottom: 67px;
    // margin-top: 140px;
    z-index: 5;
  }

  .results__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 585px;
  }
}
