.stats-list {
  .reset-indents();
  display: flex;
  justify-content: space-between;
}

.stats-list__item {
  display: flex;
  flex-direction: column-reverse;
}

.stats-list__fact {
  .info-text();
  .base-text(12px, 12px);
}

.stats-list__number {
  .base-text(24px, 24px);
  color: @text-darkgray;
  font-weight: 400;
  text-transform: uppercase;
}
