.stats-list {
  .reset-indents();
  display: flex;
  justify-content: space-around;
}

.stats-list__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.stats-list__fact {
  .info-text();
  .base-text(12px, 12px);
  width: 65px;
  text-align: center;
}

.stats-list__number {
  .base-text(24px, 24px);
  color: @text-darkgray;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .stats-list {
    width: 368px;
  }

  .stats-list__item {
    width: 162px;
  }

  .stats-list__fact {
    .base-text(14px, 14px);
    width: 130px;
  }

  .stats-list__number {
    .base-text(30px, 37px);
  }
}

@media (min-width: @desktop-width) {
  .stats-list {
    justify-content: space-between;
    width: 365px;
    margin-top: 83px;
  }
}
