.toggle-block {
  .reset-indents();
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
}

.toggle-block__item {
  .base-text(16px, 20px);
  color: @black;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .toggle-block {
    width: 768px;
    min-height: 95px;
    background-color: @bg-lightgray;
  }

  .toggle-block__item {
    font-size: 20px;

    &--before {
      margin-left: 100px;
    }

    &--after {
      margin-right: 100px;
    }
  }
}
